target/
!.mvn/wrapper/maven-wrapper.jar
.settings/
.classpath
.project
.factorypath
bin/
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/
*.jar
*.war
*.ear
*.class
*.log
logs/
spring.log
.DS_Store
Thumbs.db
desktop.ini
*.env
.env
